<template>
  <footer class="footer bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          All right reserved. Powered by Ladda Udomsiripinij
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
.footer {
  bottom: 0;
  width: 100%;
  padding: 1% 0%;
}
</style>
