<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-2" id="nav">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
        <router-link to="/" class="nav-item nav-link">Home</router-link>
        <router-link to="/scg" class="nav-item nav-link">SCG</router-link>
        <router-link to="/xyz" class="nav-item nav-link">XYZ</router-link>
        <router-link to="/place" class="nav-item nav-link">Place</router-link>
        <router-link to="/cv" class="nav-item nav-link">CV</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="less">
.navbar {
  z-index: 999;
}
.router-link-exact-active {
  font-weight: bold;
}
</style>
