<template>
  <div class="wrapper" id="app">
    <main class="container-fluid px-0">
      <div class="header"><Header /></div>
      <div class="body"><router-view /></div>
    </main>
    <div class="footer"><Footer /></div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434e5e;
  text-align: center;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.header {
  min-height: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
